body {
    background-color: rgb(74, 74, 225);
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    margin-left: 90px;
    margin-top: 40px;
    box-sizing: content-box;
}

.square {
     box-sizing: border-box;
}